* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: brown;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
}

.forecast {
    margin: 50px;
    width: 480px;
}

.cityName {
    font-size: 60px;
    margin: 10px;
    word-wrap: break-word;
}

.topInfo {
    margin: 5px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-radius: 5px;
}

.city {
    width: 70%;
}

.actualTemperature {
    font-size: 100px;
    width: 40%;
}

.bottomInfo {
    display: flex;
    flex-wrap: wrap;
}

.temp {
    margin: 5px;
    position: relative;
    height: 140px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-grow: 1;
    border: 1px solid;
    text-align: center;
}
.timeAndTemp{
    font-size: 18px;
    height: 40px;
    top: 50px;
    position: relative;
}

.tempBar {
    width: 100%;
    position: absolute;
    background-color: greenyellow;
}

.weatherIcon {
    position: absolute;
    margin: 95px -25px;
}

.bigWeatherIcon {
    position: absolute;
    margin: -50px 0px 0px 120px;
}

.additionalInfo{
    margin: 10px;
}